.btn-info{
	margin-top: 0px !important;
	line-height: 100% !important;
	height: initial !important;
	height: auto !important;
}
.manage-pro{
	min-height: 0px !important;
	background-color: rgb(234,237,241) !important;
	border:none;
}
.box1{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
    padding: 10px;
    min-height: 200px;
    position:relative;
    display: inline-block;
    background: -webkit-gradient(linear, 0% 20%, 0% 1000%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-bottom-right-radius: 6px 50px; 
    height: 500px;
}
.box1:before{
    content: '';
    width: 50px;
    height: 100px;
    position:absolute;
    bottom:0; right:0;
    -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
    z-index:-1;
    -webkit-transform: translate(-35px,-40px)
                        skew(0deg,30deg)
                        rotate(-25deg);
}
.box1:after{
    content: '';
    width: 100px;
    height: 100px;
    top:0; left:0;
    position:absolute;
    display: inline-block;
    z-index:-1;
    -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
                        translate(20px,25px)
                        skew(20deg);
}
.zhiye{
	padding-left: 10px;
	margin-left: 10%;
	overflow: hidden;
	border:2px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	margin-top: -3px !important;
}
.add-pro input{
	height: 50px !important;
	width: 10%;
	margin-left: 30%;
	margin-top: 20px !important;
}
#submit{
	margin-left: 20% !important;
}
