.student-img-div-perent {
    float: left;
    margin: 4%;
    text-align: center;
}

.student-img-div {
    padding-bottom: 35px;
    text-align: center;
}
.student-img-edit {
    margin-top: 40px;
    text-align: center;
    color: black;
}

.btn-primary {
    height: 50px;
    -webkit-box-shadow: 3px 3px 3px #337ab7;
    -moz-box-shadow: 3px 3px 3px #337ab7;
    box-shadow: 3px 3px 3px #337ab7;
}


/*.student-img-div-perent table {
    width: 500px;
    height: 100%;
}

.student-img-div-perent table tr td {
    font-size: 20px;
    padding: 13px;
}*/

.base {
    border-bottom: 1px dashed #CCCCCC;
    margin-top: 2%;
}
.wu{
    border:0;
}
.wu button{
    margin-left: 35%;
}

.base ul {
    list-style-type: none;
    display: inline-block;
    line-height: 24px;
    margin-left: -15%;
}

.base ul li {
    float: left;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.base ul li div{
    font-size: 18px;
    color: #999999;
    line-height: 24px;
    margin-left: 50px;
}
.base ul li p {
    font-size: 18px;
    display: inline-block;
    text-align: right;
    width: 105px;
        line-height: 24px;
}
.nav{
        margin-bottom: 30px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: white; 
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: white; 
}
.camera {
    width: 28px;
    height: 28px;
    margin-right: 12px;
    background-size: 50px;
}

.btn-edit {
    float: right;
}

.student-img-div-perent div {
    height: 100%;
    font-size: 20px;
    float: right;
    width: 100%;
    margin-left: 0;
}

.showview .list-view {
    height: calc(100vh - 200px);
    padding: 38px;
}

.studentInfo,
.studentEdit,
.editPassword {
    float: left;
    list-style: none;
}

.studentEdit,
.editPassword {
    display: none;
}

input[type='text'],
input[type='password'],select{
    display: block;
    box-sizing: border-box;
    padding-left:10px;
    text-decoration: none;
    color: #6a6f77;
    border: 1px solid #c8cccf;
    border-radius: 4px;
    outline: 0;
    -web-kit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    height: 30px;
}

input[type='text']:focus,
input[type='password']:focus {
    border: 2px solid #337ab7;
}

.dropdown-menu li {
    float: none;
}

.dropdown-menu {
    width: 205px;
}

.jobShow {
    font-size: 18px;
    font-weight: 500;
    width: 200px;
}

.dropdown-toggle {
    padding: 8px;
    padding-bottom: 9px;
}

.Ae {
    margin-top: 20px;
}

.jobSelect {
    padding: 10px;
    cursor: pointer;
}

.cancelMark {
    border-right: 1px solid black;
    padding-right: 20px;
}

.ed,
.edImg {
    margin-left: 20px;
    solid black;
    color: #23527c;
    background-color: white;
    border: 0px
}

.ed:focus,
.ed:hover,
.edImg:focus,
.edImg:hover {
    color: #23527c;
    text-decoration: underline;
}

.editMark {
    padding-right: 20px;
    border-right: 1px solid black;
}

.editPwd {
    margin-left: 20px;
}

.AePwd {
    margin-top: 25px;
}

.pwdAlert {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 15px;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    border-radius: 4px;
    display: none
}

.showInfo{
    display: none;

}
.baseInfo-content{
    margin-left: 27%;
}
.touxiang{
    width: 20%;
    height: 300px;
    float: left;
}
.img_show img{
    border-radius: 50%;
    width: 65%;
    height: 65%;
    margin-left: 15%;
}
.upfile{

}
.baseInfo{
    display: block;
}

.editInfo-content{
    margin-left: 27%;
}
.pwd{
    margin-left: 10%;
}
.a-upload {
    padding: 8px 15px;
    height: 35px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 23%;
    margin-top: 35px;
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}




.mybutton{
    margin:15px;
    background-color: 
}

.green:active {
    top: 1px;
    box-shadow: 0 1px 3px #4d7254 inset, 0 3px 0 #fff;
    background: -webkit-linear-gradient(top,#5eac6e,#72b37e);
    background: -moz-linear-gradient(top,#5eac6e,#72b37e);
    background: linear-gradient(top,#5eac6e,#72b37e);
}
.green:hover {
    background: -webkit-linear-gradient(top,#aaebb9,#82d392);
    background: -moz-linear-gradient(top,#aaebb9,#82d392);
    background: linear-gradient(top,#aaebb9,#82d392);
}
.button.green {
    border: 1px solid #64c878;
    box-shadow: 0 1px 2px #b9ecc4 inset, 0 -1px 0 #6c9f76 inset, 0 -2px 3px #b9ecc4 inset;
    background: -webkit-linear-gradient(top,#90dfa2,#84d494);
    background: -moz-linear-gradient(top,#90dfa2,#84d494);
    background: linear-gradient(top,#90dfa2,#84d494);
}
.button {
    width: 140px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    margin: 0 20px 20px 0;
    position: relative;
    overflow: hidden;
}
.list-view .base{
    text-align: left;
}