
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	

	<link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/htools.select.skin.css" th:href="@{/css/htools.select.skin.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{/css/reset.css}">
	<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" th:href="@{/http://www.jq22.com/jquery/font-awesome.4.6.0.css}">


	</head>
	<body  id="gtco-header" class="gtco-cover" role="banner" style="background-image: url(/images/login.jpg);background-attachment: fixed;" >
	
	<div style="width: 100%;background:rgba(0, 0, 0, 0.5);"></div>

	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="index.html">Lanou<em>.</em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li><a href="index.html">HOME</a></li>
						<li><a href="#">移动端</a></li>
						<li><a href="#">开始考试</a></li>
						<li class="btn-cta"><a href="javascript:void(0);" class="ss"><span>注册</span></a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>
	
	<header>
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small" id="box1">Welcome to lanou</span>
							<h1 id="box1">Let education return to its essence</h1>	
						</div>




<!-- 登陆 -->

						<div class="loginul">
							<div class="login-title">LOGIN</div>
							
							<div style="margin-left: 10%;padding:5px;color: red;font-size: 12px;height: 24px" class="loginalert"></div>
							<div class="checkbox checkbox-success">
		                        <input type="radio" name="radio4" id="radio8" checked="checked">
		                        <label for="radio8">
		                            客户端
		                        </label>
		                    </div>
		                    <div class="checkbox checkbox-danger">
		                        <input type="radio" name="radio4" id="radio9">
		                        <label for="radio9">
		                            管理员
		                        </label>
		                    </div>

							<div class="login-content">
								<div class="zhanghao">
									<label class="content-lable">Email</label>
									<br>
									<input type="text" name="Email" class="Emails">
								</div>
								<div class="mima">
									<label class="content-lable">Password</label>
									<label class="content-lable2"><a href="forget.html">忘记密码</a><img src="../static/images/wenhao.png" th:href="@{/images/wenhao.png"}"></label>
									<br>
									<input type="text" name="Email" class="Passwords">
								</div>
								<div class="denglu">
									<input type="submit" value="LOGIN" class="btn btn-primary" id="loginSubmit">
									<div class="tosign">
									还没有账号？
										<a href="javascript:void(0);" class="sss">立即加入</a>
									</div>
								</div>

							</div>
						</div>




<!-- 注册 -->

	<div id="signup" style="display: none;">
        <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">基本信息</li>
                <li>选择职业</li>
                <li>邮箱验证</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">基本信息</h2>
                <div class="fs-subtitle prompt1"></div>
                <div class="lables1">Name</div>
                <input type="text" name="name" placeholder="姓名" class="name" />
                <div class="lables2">Password</div>
                <input type="password" name="pass" placeholder="密码" class="pass" />
                <div class="lables3">Confirm Password</div>
                <input type="password" name="cpass" placeholder="密码验证" class="cpass" />
                <div class="lables1" style="margin-left: -86%;">Sex</div>
                <select name="" id="sex">
                	<option value="男">男</option>
                	<option value="女">女</option>
                </select>
                <br>
                <input type="button" name="next" class="next1 action-button1" value="Next" id="s1" />

                <div class="tosign2">
										<a href="javascript:void(0);" class="qqq">返回登陆</a>
									</div>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">选择职业</h2>
                <h3 class="fs-subtitle">Choosing a career</h3>
                <select id="myselect">
                    <option value="web工程师">web工程师</option>
                    <option value="java工程师">java工程师</option>
                </select>				
                <br>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">邮箱验证</h2>
                <h3 class="fs-subtitle">Mailbox validation</h3>
                <div class="fs-subtitle prompt2" style="margin-bottom: 10px;"></div>
                <div class="lables1">Email</div>
                <input type="text" name="email" placeholder="邮箱" class="Email"  />
                <input type="text" name="yanzheng"  size="30" style="width: 50%;" placeholder="请输入验证码" class="yzm">


                <input type="button" name="yanzheng1" class="btn btn-info" value="发送验证码" style="width: 40%;background:rgb(39,174,96);margin-top: 10px;line-height: 20px;border-radius: 4px;color: white" 
                     onclick="settime(this)"/>
				
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="submit" name="submit" class="submit action-button" value="Submit" id="regSubmit" />
            </fieldset>
        </form>
    </div>

					</div>
				</div>
			</div>
		</div>
	</header>

	
	<!-- jQuery -->
	<script src="../static/js/jquery-2.1.1.js" th:href="@{/js/login.css}"></script>

	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/jquery.easing.min.js" th:href="@{/js/jquery.easing.min.js}"></script>
	<script type="text/javascript" src="../static/js/jquery.htools.select.js" th:href="@{/css/jquery.htools.select.js}"></script>
	<script src="../static/js/yanzheng.js" th:href="@{/js/yanzheng.js}"></script>
	<script src="../static/js/login.js" th:href="@{/js/login.js}"></script>
	</body>
</html>

