<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>历史记录界面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css"  th:href="@{/css/base.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/student-history.css"  th:href="@{/css/student-history.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.page.css"  th:href="@{/css/jquery.page.css}">
    <script type="text/javascript" src="../static/js/jquery.js" th:href="@{/js/jquery.js}"></script>
</head>

<body class="home">
    <span class="hidespan"></span>
    <div class="move-right">
        <div class="header">
            <div class="box-left">
                <span class="glyphicon glyphicon-th-list"></span>
                <span>menu</span>
            </div>
            <div class="box-right">
                <div class="search-info">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>search for inspiration</span>
                </div>
                <div class="co-logo"></div>
                <div class="login-btn">
                    <a class="totop-img" href="javascript:void(0);"><span class="glyphicon glyphicon-collapse-up"></span></a>
                    <a class="login-font" href=""><span>submit your site</span></a>
                </div>
                <div class="logo-header">
                    <img src="../static/images/logo.png" th:src="@{/images/logo.png}">
                </div>
            </div>
            <div class="box-right-search">
                <div class="to-dropdown">
                    <span class="search-type">all</span><span class="glyphicon glyphicon-triangle-bottom"></span>
                    <div class="menu-dropdown">
                        <ul>
                            <li><strong><a href="#">ALL</a></strong></li>
                            <li><strong><a href="#">Websites</a></strong></li>
                            <li><strong><a href="#">Collections</a></strong></li>
                            <li><strong><a href="#">Elements</a></strong></li>
                            <li><strong><a href="#">Magazine</a></strong></li>
                            <li><strong><a href="#">Jobs</a></strong></li>
                            <li><strong><a href="#">Users</a></strong></li>
                        </ul>
                    </div>
                </div>
                <input type="text" id="search-text" placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" data-placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" data-placeholder-mobile="SEARCH FOR INSPIRATION" autocomplete="off" class="search-input" value="">
                <div class="search-goto">
                    <strong><a href="" class="link-1">SHOW FILTERS</a></strong>
                </div>
                <div class="box-close">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
        </div>
        <div class="overlay-content" style="display: block;"></div>
        <div class="showview">
            <div class="head-view">考试记录</div>
            <div class="list-view">
                <ul class="history-ul">
                    <li class="history-li">
                        <div class="history-text">
                        <span class="hidespan"><!--试卷id-->id1</span>
                            <p>web基础练习</p>
                             <span class="timelong"><span >考试时长：</span>2017-05-04 08:00</span>
                            <span class="timelong"><span >试卷总分：</span>100分</span>
                            <span class="timelong"><span >完成情况：</span>未完成</span>
                        </div>
                        <div class="history-bottom">
                            <span class="grade">98分</span>
                            <span class="chakan"><a href="student-history-test.html">查看</a></span>
                        </div>
                    </li>
                    <li class="history-li">
                        <div class="history-text">
                        <span class="hidespan"><!--试卷id-->id1</span>
                            <p>web基础练习</p>
                             <span class="timelong"><span >考试时长：</span>2017-05-04 08:00</span>
                            <span class="timelong"><span >试卷总分：</span>100分</span>
                            <span class="timelong"><span >完成情况：</span>未完成</span>
                        </div>
                        <div class="history-bottom">
                            <span class="grade">98分</span>
                            <span class="chakan"><a href="student-history-test.html">查看</a></span>
                        </div>
                    </li>
                    
                    
                    
                
                </ul>
                <br>
                <div id="page"></div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="menu-in">
            <div class="menu-top">
                <div class="pull-left">
                    <span></span>
                </div>
                <div class="pull-right">
                    <span>close</span>
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="second-menu">
                <div class="home">题库<span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="second-menu-home">
                    <a href="student-random-test.html">
                        <li>随机试卷</li>
                    </a>
                    <a href="student-alltest.html">
                        <li>套题</li>
                    </a>
                </ul>
            </div>
            <div class="second-menu">
                <div class="winners">个人中心<span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="second-menu-winners ">
                    <a href="student-info.html">
                        <li>基本信息</li>
                    </a>
                </ul>
            </div>
            <div class="second-menu">
                <div class="history">历史记录<span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="second-menu-history ">
                    <a href="student-history.html">
                        <li>考试历史记录</li>
                    </a>
                    <a href="student-error.html">
                        <li>错题收集</li>
                    </a>
                </ul>
            </div>
            <div class="menu-foot"></div>
        </div>
    </div>
</body>
<script src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/manage.js" th:href="@{/js/manage.js}"></script>
<script src="../static/js/jquery.jqpagination.js" th:href="@{/js/jquery.jqpagination.js}"></script>
<script type="text/javascript" src="../static/js/student-history.js" th:href="@{/js/student-history.js}"></script>
<script type="text/javascript" src="../static/js/jquery.page.js" th:href="@{/js/jquery.page.js}"></script>
</html>
