<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>历史记录界面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css"  th:href="@{/css/base.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/student-history-test.css" th:href="@{/css/student-history-test.css}">
    <script type="text/javascript" src="../static/js/jquery.js" th:href="@{/js/jquery.js}"></script>
</head>

<body class="home">
    <div class="move-right">
        <div class="header">
            <div class="box-left">
                <span class="glyphicon glyphicon-th-list"></span>
                <span>menu</span>
            </div>
            <div class="box-right">
                <div class="search-info">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>search for inspiration</span>
                </div>
                <div class="co-logo"></div>
                <div class="login-btn">
                    <a class="totop-img" href="javascript:void(0);"><span class="glyphicon glyphicon-collapse-up"></span></a>
                    <a class="login-font" href=""><span>submit your site</span></a>
                </div>
                <div class="logo-header">
                    <img src="../static/images/logo.png" th:href="@{/images/logo.png}">
                </div>
            </div>
            <div class="box-right-search">
                <div class="to-dropdown">
                    <span class="search-type">all</span><span class="glyphicon glyphicon-triangle-bottom"></span>
                    <div class="menu-dropdown">
                        <ul>
                            <li><strong><a href="#">ALL</a></strong></li>
                            <li><strong><a href="#">Websites</a></strong></li>
                            <li><strong><a href="#">Collections</a></strong></li>
                            <li><strong><a href="#">Elements</a></strong></li>
                            <li><strong><a href="#">Magazine</a></strong></li>
                            <li><strong><a href="#">Jobs</a></strong></li>
                            <li><strong><a href="#">Users</a></strong></li>
                        </ul>
                    </div>
                </div>
                <input type="text" id="search-text" placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" data-placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" data-placeholder-mobile="SEARCH FOR INSPIRATION" autocomplete="off" class="search-input" value="">
                <div class="search-goto">
                    <strong><a href="" class="link-1">SHOW FILTERS</a></strong>
                </div>
                <div class="box-close">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
        </div>
        <div class="overlay-content" style="display: block;"></div>
        <div class="showview">
            <div class="head-view">试卷分析</div>
            <div class="list-view">
                <div class="qh">
                    <h5>单选题
                    <span class="detail">共10题，合计100.0分</span></h5>
                </div>
                <dl>
                    <dt>
                        <div class="icon-block">
                            <label class="indexLabel">
                                <span class="index">1</span>
                            </label>
                        </div>
                        <span class="qc">
                            <span class="score">(0&nbsp;分)<!-- 分值 --></span>
                        <span class="content"><!-- 题目 -->小明有一个苹果和一个梨子，那么他有几种水果 </span>
                        </span>
                        <span class="sqlIndex"><!--  数据库中题号id --></span>
                               
                        <span class="collect" name="collect"><!-- 是否收藏此题 --></span>
                        <label class="star" ><!--  取消收藏--></label>
                    </dt>
                    <dd class="answer">
                        <input type="radio" name="option1">
                        <span class="radiu"><span radiuSelect></span></span>
                        <label>
                            <span class="words">
                                <span class='ABCD'>A</span><span class="ABCDContent"> 一种 </sapn>
                        </label>
                    </dd>

                    
                    <dd class="answer">
                        <input type="radio" name="option1">
                        <span class="radiu"><span radiuSelect></span></span>
                        <label>
                                <span class="words">
                                <span class='ABCD'>B</span><span class="ABCDContent"> 两种 </sapn>
                        </label>
                    </dd>
                    <dd class="answer">
                        <input type="radio" name="option1">
                        <span class="radiu"><span radiuSelect></span></span>
                                <label>
                                    <span class="words">
                                <span class='ABCD'>C</span><span class="ABCDContent"> 三种 </sapn>
                        </label>
                    </dd>
                    <dd class="answer">
                        <input type="radio" name="option1">
                        <span class="radiu"><span radiuSelect></span></span>
                                    <label>
                                        <span class="words">
                                <span class='ABCD'>A</span><span class="ABCDContent"> 四种 </sapn>
                        </label>
                    </dd>
                    <div class="question_answer">
                        <div class="answerRight">
                            正确答案：
                            <span class="a_rt">A</span> 考生答案：
                                            <span class="a_wg hasError"> </span>
                        </div>
                        <div class="answerAnalysis">
                            答案解析：
                            <span class="analyse">无</span>
                        </div>
                    </div>
                </dl>
                <dl>
                    <!-- 题干加分值 -->
                    <dt>
                        <div class="icon-block">
                            <label class="indexLabel">
                                <span class="index">2</span><!-- 试卷中题号 -->
                                
                            </label>
                        </div>
                        <span class="qc">
                            <span class="score">(0&nbsp;分)<!-- 分值 --></span>
                        <span class="content"><!-- 题目 -->小明有一个苹果和一个梨子，那么他有几种水果 </span>
                        </span>
                         <span class="sqlIndex">id</span>
                               <!--  数据库中题号id -->
                        <span class="collect" name="collect"><!-- 是否收藏此题 --></span>
                        <label class="star" ><!--  取消收藏--></label>

                    </dt>
                    <!-- A -->
                    <dd class="answer">
                        <input type="radio" name="option1">
                        <span class="radiu"><span radiuSelect></span></span>
                        <label>
                            <span class="words">
                                <span class='ABCD'>A</span><span class="ABCDContent"> 一种 </sapn>
                        </label>
                    </dd>

                    <!-- B -->
                    <dd class="answer">
                        <input type="radio" name="option1">
                        <span class="radiu"><span radiuSelect></span></span>
                        <label>
                                <span class="words">
                                <span class='ABCD'>B</span><span class="ABCDContent"> 两种 </sapn>
                        </label>
                    </dd>

                    <!-- c -->
                    <dd class="answer">
                        <input type="radio" name="option1">
                        <span class="radiu"><span radiuSelect></span></span>
                                <label>
                                    <span class="words">
                                <span class='ABCD'>C</span><span class="ABCDContent"> 三种 </sapn>
                        </label>
                    </dd>

                    <!-- D -->
                    <dd class="answer">
                        <input type="radio" name="option1">
                        <span class="radiu"><span radiuSelect></span></span>
                                    <label>
                                        <span class="words">
                                <span class='ABCD'>A</span><span class="ABCDContent"> 四种 </sapn>
                        </label>
                    </dd>

                    <!-- 答案及其分析 -->
                    <div class="question_answer">
                        <div class="answerRight">
                            正确答案：
                            <span class="a_rt">A</span> 考生答案：
                                            <span class="a_wg hasError"> </span>
                        </div>
                        <div class="answerAnalysis">
                            答案解析：
                            <span class="analyse">无</span>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="menu-in">
            <div class="menu-top">
                <div class="pull-left">
                    <span></span>
                </div>
                <div class="pull-right">
                    <span>close</span>
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="second-menu">
                <div class="home">题库<span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="second-menu-home">
                    <a href="student-random-test.html">
                        <li>随机试卷</li>
                    </a>
                    <a href="student-alltest.html">
                        <li>套题</li>
                    </a>
                </ul>
            </div>
            <div class="second-menu">
                <div class="winners">个人中心<span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="second-menu-winners ">
                    <a href="student-info.html">
                        <li>基本信息</li>
                    </a>
                </ul>
            </div>
            <div class="second-menu">
                <div class="history">历史记录<span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="second-menu-history ">
                    <a href="student-history.html">
                        <li>考试历史记录</li>
                    </a>
                    <a href="student-error.html">
                        <li>错题收集</li>
                    </a>
                </ul>
            </div>
            <div class="menu-foot"></div>
        </div>
    </div>
</body>
<script src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/manage.js" th:href="@{/js/manage.js}"></script>
<script src="../static/js/jquery.jqpagination.js" th:href="@{/js/jquery.jqpagination.js}"></script>
<script type="text/javascript" src="../static/js/student-history-test.js" th:href="@{/js/student-history-test.js}"></script>

</html>
