<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>随机试卷</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css"  th:href="@{/css/base.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/student-history-test.css" th:href="@{/css/student-history-test.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/student-test.css" th:href="@{/css/student-test.css}">
    <script type="text/javascript" src="../static/js/jquery.js" th:href="@{/js/jquery.js}"></script>
</head>

<body class="home">
    <div class="move-right">
        <div class="header">
            <div class="box-left">
                <span class="glyphicon glyphicon-th-list"></span>
                <span>menu</span>
            </div>
            <div class="box-right">
                <div class="search-info">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>search for inspiration</span>
                </div>
                <div class="co-logo"></div>
                <div class="login-btn">
                    <a class="totop-img" href="javascript:void(0);"><span class="glyphicon glyphicon-collapse-up"></span></a>
                    <a class="login-font" href=""><span>submit your site</span></a>
                </div>
                <div class="logo-header">
                    <img src="../static/images/logo.png" th:href="@{/images/logo.png}">
                </div>
            </div>
            <div class="box-right-search">
                <div class="to-dropdown">
                    <span class="search-type">all</span><span class="glyphicon glyphicon-triangle-bottom"></span>
                    <div class="menu-dropdown">
                        <ul>
                            <li><strong><a href="#">ALL</a></strong></li>
                            <li><strong><a href="#">Websites</a></strong></li>
                            <li><strong><a href="#">Collections</a></strong></li>
                            <li><strong><a href="#">Elements</a></strong></li>
                            <li><strong><a href="#">Magazine</a></strong></li>
                            <li><strong><a href="#">Jobs</a></strong></li>
                            <li><strong><a href="#">Users</a></strong></li>
                        </ul>
                    </div>
                </div>
                <input type="text" id="search-text" placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" data-placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" data-placeholder-mobile="SEARCH FOR INSPIRATION" autocomplete="off" class="search-input" value="">
                <div class="search-goto">
                    <strong><a href="" class="link-1">SHOW FILTERS</a></strong>
                </div>
                <div class="box-close">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
        </div>
        <div class="overlay-content" style="display: block;"></div>
        <div class="showview">
            <div class="head-view">考试中</div>
            <div class="list-view">
                <div class="qh" >
                    <h5>单选题
                    <span class="detail">共10题，合计100.0分</span></h5>
                </div>
                <dl id="danxuan">
                    <!-- 题干+分值 -->
                    <dt>
                        <div class="icon-block">
                            <label class="indexLabel">
                                <span class="index">1</span>
                                <!-- 试卷中题号 非常重要 ！！！-->
                                <span class="sqlIndex">id1</span>
                                <!--  数据库中题号id  非常重要！！！-->
                            </label>
                        </div>
                        <span class="qc">
                            <span class="score">(5&nbsp;分)<!-- 分值 --></span>
                        <span class="content"><!-- 题目 -->小明有一个苹果和一个梨子，那么他有几种水果 </span>
                        </span>
                    </dt>
                    <!-- A -->
                    <dd class="answer">
                        <input type="radio" name="option1">
                        <span class="radiu">
                            <span class="radiuSelect"></span>
                        </span>
                        <label>
                            <span class="words">
                                <span class='ABCD'>A</span>
                            <!-- ABCD -->
                            <span class="ABCDContent"> 一种 </sapn>
                                <!-- 选项内容 -->
                            </span>
                        </label>
                    </dd>
                    <!-- B -->
                    <dd class="answer">
                        <input type="radio" name="option1">
                        <span class="radiu">
                            <span class="radiuSelect"></span>
                        </span>
                        <label>
                            <span class="words">
                                <span class='ABCD'>B</span>
                            <span class="ABCDContent"> 一种 </sapn>
                            </span>
                        </label>
                    </dd>
                    <!-- C -->
                    <dd class="answer">
                        <input type="radio" name="option1">
                        <span class="radiu">
                            <span class="radiuSelect"></span>
                        </span>
                        <label>
                            <span class="words">
                                <span class='ABCD'>C</span>
                            <span class="ABCDContent"> 一种 </sapn>
                            </span>
                        </label>
                    </dd>
                    <!-- D -->
                    <dd class="answer">
                        <input type="radio" name="option1">
                        <span class="radiu">
                            <span class="radiuSelect"></span>
                        </span>
                        <label>
                            <span class="words">
                                <span class='ABCD'>D</span>
                            <span class="ABCDContent"> 一种 </sapn>
                            </span>
                        </label>
                    </dd>
                </dl>
                <div class="qh">
                    <h5>多选题
                    <span class="detail">共10题，合计100.0分</span></h5>
                </div>
                <dl  id="duoxuan">
                    <!-- 题干+分值 -->
                    <dt>
                        <div class="icon-block">
                            <label class="indexLabel">
                                <span class="index">2</span>
                                <!-- 试卷中题号 非常重要 ！！！-->
                                <span class="sqlIndex">id2</span>
                                <!--  数据库中题号id  非常重要！！！-->
                            </label>
                        </div>
                        <span class="qc">
                            <span class="score">(5&nbsp;分)<!-- 分值 --></span>
                        <span class="content"><!-- 题目 -->小明有一个苹果和一个梨子，那么他有几种水果 </span>
                        </span>
                    </dt>
                    <!-- A -->
                    <dd class="answerMuch">
                        <input type="radio" name="option1">
                        <span class="radiu">
                            <span class="radiuSelect"></span>
                        </span>
                        <label>
                            <span class="words">
                                <span class='ABCD'>A</span>
                            <!-- ABCD -->
                            <span class="ABCDContent"> 一种 </sapn>
                                <!-- 选项内容 -->
                            </span>
                        </label>
                    </dd>
                    <!-- B -->
                    <dd class="answerMuch">
                        <input type="radio" name="option1">
                        <span class="radiu">
                            <span class="radiuSelect"></span>
                        </span>
                        <label>
                            <span class="words">
                                <span class='ABCD'>B</span>
                            <span class="ABCDContent"> 一种 </sapn>
                            </span>
                        </label>
                    </dd>
                    <!-- C -->
                    <dd class="answerMuch">
                        <input type="radio" name="option1">
                        <span class="radiu">
                            <span class="radiuSelect"></span>
                        </span>
                        <label>
                            <span class="words">
                                <span class='ABCD'>C</span>
                            <span class="ABCDContent"> 一种 </sapn>
                            </span>
                        </label>
                    </dd>
                    <!-- D -->
                    <dd class="answerMuch">
                        <input type="radio" name="option1">
                        <span class="radiu">
                            <span class="radiuSelect"></span>
                        </span>
                        <label>
                            <span class="words">
                                <span class='ABCD'>D</span>
                            <span class="ABCDContent"> 一种 </sapn>
                            </span>
                        </label>
                    </dd>
                </dl>
                <div class="qh">
                    <h5>填空题
                    <span class="detail">共10题，合计100.0分</span></h5>
                </div>
                <dl  id="tiankong">
                    <!-- 题干+分值 -->
                    <dt>
                        <div class="icon-block">
                            <label class="indexLabel">
                                <span class="index">3</span>
                                <!-- 试卷中题号 非常重要 ！！！-->
                                <span class="sqlIndex">id3</span>
                                <!--  数据库中题号id  非常重要！！！-->
                            </label>
                        </div>
                        <span class="qc">
                            <span class="score">(5&nbsp;分)<!-- 分值 --></span>
                        <span class="content"><!-- 题目 -->小明有一个苹果和一个梨子，那么他有几种水果 </span>
                        </span>
                    </dt>
                    <!-- A -->
                    <dd class="answerInput">
                        <input type="radio" name="option1">
                        <span class="radiu">
                            <span class="radiuSelect"></span>
                        </span>
                        <label>
                            <span class="words">
                                <span class='ABCD'></span>
                            <!-- ABCD -->
                            此处填写答案<span class="ABCDContent"><input type="text" class="input">。</sapn>
                                <!-- 选项内容 -->
                            </span>
                        </label>
                    </dd>
                </dl>
            </div>
            <div class="datikaImg">
                <!-- 背景图片 -->
            </div>
            <div class="datika">
                <span class='gb'></span>
                <div class="s">
                    <h3>单选题</h3>
                    <div class="div1">                       
                    </div>
                </div>
                <div class="s">
                    <h3>多选题</h3>
                    <div class="div2">                       
                    </div>
                </div>
                <div class="s">
                    <h3>填空题</h3>
                    <div class="div3">                       
                    </div>
                </div>
            </div>

            <div class="countdown">02:00:00</div>
        </div>
    </div>
    <div class="menu">
        <div class="menu-in">
            <div class="menu-top">
                <div class="pull-left">
                    <span></span>
                </div>
                <div class="pull-right">
                    <span>close</span>
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="second-menu">
                <div class="home">题库<span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="second-menu-home">
                    <a href="student-random-test.html">
                        <li>随机试卷</li>
                    </a>
                    <a href="student-alltest.html">
                        <li>套题</li>
                    </a>
                </ul>
            </div>
            <div class="second-menu">
                <div class="winners">个人中心<span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="second-menu-winners ">
                    <a href="student-info.html">
                        <li>基本信息</li>
                    </a>
                </ul>
            </div>
            <div class="second-menu">
                <div class="history">历史记录<span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="second-menu-history ">
                    <a href="student-history.html">
                        <li>考试历史记录</li>
                    </a>
                    <a href="student-error.html">
                        <li>错题收集</li>
                    </a>
                </ul>
            </div>
            <div class="menu-foot"></div>
        </div>
    </div>
</body>
<script src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/manage.js" th:href="@{/js/manage.js}"></script>
<script src="../static/js/jquery.jqpagination.js" th:href="@{/js/jquery.jqpagination.js}"></script>
<script type="text/javascript" src="../static/js/student-test.js" th:href="@{/js/student-test.js}"></script>
<script type="text/javascript" src="../static/js/daojishi.js" th:href="@{/js/daojishi.js}"></script>

</html>
