<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>历史记录界面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.page.css" th:href="@{/css/jquery.page.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css" th:href="@{/css/base.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/student-error.css" th:href="@{/css/student-error.css}">
    <script type="text/javascript" src="../static/js/jquery.js" th:href="@{/js/jquery.js}"></script>
</head>

<body class="home">
    <div class="move-right">
        <div class="header">
            <div class="box-left">
                <span class="glyphicon glyphicon-th-list"></span>
                <span>menu</span>
            </div>
            <div class="box-right">
                <div class="search-info">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>search for inspiration</span>
                </div>
                <div class="co-logo"></div>
                <div class="login-btn">
                    <a class="totop-img" href="javascript:void(0);"><span class="glyphicon glyphicon-collapse-up"></span></a>
                    <a class="login-font" href=""><span>submit your site</span></a>
                </div>
                <div class="logo-header">
                    <img src="../static/images/logo.png" th:src="@{/images/logo.png}">
                </div>
            </div>
            <div class="box-right-search">
                <div class="to-dropdown">
                    <span class="search-type">all</span><span class="glyphicon glyphicon-triangle-bottom"></span>
                    <div class="menu-dropdown">
                        <ul>
                            <li><strong><a href="#">ALL</a></strong></li>
                            <li><strong><a href="#">Websites</a></strong></li>
                            <li><strong><a href="#">Collections</a></strong></li>
                            <li><strong><a href="#">Elements</a></strong></li>
                            <li><strong><a href="#">Magazine</a></strong></li>
                            <li><strong><a href="#">Jobs</a></strong></li>
                            <li><strong><a href="#">Users</a></strong></li>
                        </ul>
                    </div>
                </div>
                <input type="text" id="search-text" placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" data-placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" data-placeholder-mobile="SEARCH FOR INSPIRATION" autocomplete="off" class="search-input" value="">
                <div class="search-goto">
                    <strong><a href="" class="link-1">SHOW FILTERS</a></strong>
                </div>
                <div class="box-close">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
        </div>
        <div class="overlay-content" style="display: block;"></div>
        <div class="showview-error">
            <div class="head-view">错题集</div>
            <div class="list-timu">
                <div class="timu-list">
                    <!--  <div class="timu-list-title">
                        <a href="" class="timu-list-titl-left">单选题</a>
                        <a href="" class="timu-list-titl-in">多选题</a>
                        <a href="" class="timu-list-titl-in">判断题</a>
                        <a href="" class="timu-list-titl-in">填空题</a>
                        <a href="" class="timu-list-titl-right">简答题</a>
                       
                    </div> -->
                    <div class="timu-list-containt">
                        <div class="error-title">
                        <span class="choose-problem" style="float: left;">
                                <span class="down"></span>
                                <span class="choose-value" data-index="1">全选</span>
                                <ul class="choose-list">
                                    <li class="choose-item" data-index="1">单选</li>
                                    <li class="choose-item" data-index="2">多选</li>
                                    <li class="choose-item" data-index="3">判断</li>
                                    <li class="choose-item" data-index="4">填空</li>
                                    <li class="choose-item" data-index="5">简答</li>
                                </ul>
                            </span>
                            <span class="font-style">我的错题集</span>
                            <span class="choose-problem">
                                <span class="down"></span>
                                <span class="choose-value" data-index="1">职业</span>
                                <ul class="choose-list">
                                    <li class="choose-item" data-index="1">全部</li>
                                    <li class="choose-item" data-index="2">java工程师</li>
                                    <li class="choose-item" data-index="3">web工程师</li>
                                </ul>
                            </span>
                        </div>
                        <div class="error-contain">
                            <ul>
                                <li><i>1</i><span>错题一</span><span class="laji"></span></li>
                            </ul>
                        </div>
                        <div id="page"></div>
                    </div>
                </div>
                <div class="timu-fenxi">
                    <div class="fenxitimu">
                        <div> 
                            <span class="fenxiHead">题目信息:</span>
                            <span class="fenxiHeadRight">参考答案:
                                <span class="answerStan">A</span>
                            </span>
                            </h4>
                            </h3>
                        </div>
                        <div class="danxuan">
                            <div class="timus">题目:</div>
                            <div class="timus-content">我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;</div>
                        </div>
                        <!-- <div class="fenxikuai">
                            <div class="biaoti">
                                <div class="fenxikuai-a3">分析:</div>
                                <div class="timus-content">我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;</div>
                            </div>
                            <div>
                                <div class="fenxikuai-a2"></div>
                                <div class="fenxikuai-a4"></div>
                            </div>
                        </div> -->
                        <div class="danxuan">
                            <div class="timus">分析:</div>
                            <div class="timus-content">我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;</div>
                        </div>
                    </div>
                    <div class="fenxitimu">
                        <div> 
                            <span class="fenxiHead">答题信息:</span>
                            <span class="fenxiHeadRight">我的答案:
                                <span class="answerStan">A</span>
                            </span>
                            </h4>
                            </h3>
                        </div>
                        <div class="danxuan">
                            
                            <div class="timus">笔记:</div>
                            <div class="rep">
                                 <div class="timus-content analyse" >我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;我是一个粉刷匠，粉刷本领强，我要把那新房子刷的更漂亮;</div>
                            </div>
                           
                            <div class="cuotibutton"><button type="button" class="btn btn-success edit">编辑</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="menu-in">
            <div class="menu-top">
                <div class="pull-left">
                    <span></span>
                </div>
                <div class="pull-right">
                    <span>close</span>
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="second-menu">
                <div class="home">题库<span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="second-menu-home">
                    <a href="student-random-test.html">
                        <li>随机试卷</li>
                    </a>
                    <a href="student-alltest.html">
                        <li>套题</li>
                    </a>
                </ul>
            </div>
            <div class="second-menu">
                <div class="winners">个人中心<span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="second-menu-winners ">
                    <a href="student-info.html">
                        <li>基本信息</li>
                    </a>
                </ul>
            </div>
            <div class="second-menu">
                <div class="history">历史记录<span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="second-menu-history ">
                    <a href="student-history.html">
                        <li>考试历史记录</li>
                    </a>
                    <a href="student-error.html">
                        <li>错题收集</li>
                    </a>
                </ul>
            </div>
            <div class="menu-foot"></div>
        </div>
    </div>
</body>
<script src="../static/js/bootstrap.min.js"  th:href="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/manage.js" th:href="@{/js/manage.js}"></script>
<script src="../static/js/student-error.js" th:href="@{/js/student-error.js}"></script>
<script type="text/javascript" src="../static/js/jquery.page.js" th:href="@{/js/jquery.page.js}"></script>

</html>